@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Metrophobic&family=Roboto+Serif&display=swap");
.App {
  font-family: "Metrophobic", sans-serif;
}
.earn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px !important;
  width: 200px;
  height: 80px;
  background-color: white;
  border-radius: 4px;
}
.earn-mon {
  border-left: 5px solid blue;
}
.earn-mon-con {
  color: blue;
}
.earn-annual {
  border-left: 5px solid green;
}
.earn-annual-con {
  color: green;
}
.persent {
  border-left: 5px solid rgb(0, 153, 145);
}
.persent-con {
  color: rgb(0, 153, 145);
}
.pending {
  border-left: 5px solid rgb(241, 202, 25);
}
.pending-con {
  color: rgb(241, 202, 25);
}
.earn-list {
  padding: 10px 0px 0px 15px;
  font-size: 0.6rem;
  margin: 0px;
}
.earn-contain {
  gap: 30px;
  justify-content: space-evenly;
  margin: 15px;
}
.main {
  background-color: rgb(199, 193, 193);
  min-height: 100vh;
}
.value {
  /* padding-left: 15px; */
  padding-top: 5px;
}
.value-cont {
  display: flex;
  align-items: center;
}
.progress {
  width: 25%;
}
.chart-cont {
  justify-content: space-around;
  margin: 20px;
}

.line-chart,
.doughnut-chart {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
}
.chart-title {
  color: blue;
  font-weight: 3px;
}
.pro {
  background-color: rgb(211, 208, 208) !important;
}
.buttons {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  margin: 7px 0px;
}
.buttons:hover {
  background-color: gainsboro;
}
.list-button {
  padding: 0px !important;
}
.top-nav {
  justify-content: space-around;
  background-color: white !important;
  flex-direction: row !important;
  align-items: center;
}
.input-group-top {
  width: 25%;
}
.macgee {
  border-left: 2px gainsboro;
}
.response-img {
  width: 100%;
}
hr {
  margin: 2px;
}
